[submodule "vendor/libuv"]
	path = vendor/libuv
	url = https://github.com/libuv/libuv.git
[submodule "vendor/mbedtls"]
	path = vendor/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/miniz"]
	path = vendor/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "vendor/cpptrace"]
	path = vendor/cpptrace
	url = https://github.com/jeremy-rifkin/cpptrace.git
